{% if arSections is not empty %}
    <div class="menu_left">
        <div class="menu_left__title">Категории</div>
        <ul>
            {% for item in arSections %}
                <li><a href="{{ path('goods_routing', {particles: item.code}) }}">{{ item.name }}</a>
            {% endfor %}
        </ul>
    </div>
{% endif %}