{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="example-wrapper">
        <div class="main container">
            <h1>DB structure:</h1>
            <img src="{{ asset("/images/db.jpg") }}" style="width: 100%;">
			
			<br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br>

{#			#}
{#			<p>Symfony</p>#}
{#			<ul>#}
{#				<li><small>Validator - <i><a href="https://symfony.com/doc/current/components/validator.html">https://symfony.com/doc/current/components/validator.html</a></i></small>#}
{#				<li><small>Csrf - <i><a href="https://symfony.com/doc/4.4/security/csrf.html">https://symfony.com/doc/4.4/security/csrf.html</a></i></small>#}
{#				<li><small>Forms (*Learn more) - <i><a href="https://symfony.com/doc/4.4/forms.html">https://symfony.com/doc/4.4/forms.html</a></i></small>#}
{#				<li><small>Cache - <i><a href="https://symfony.com/doc/current/components/cache.html">https://symfony.com/doc/current/components/cache.html</a></i></small>#}
{#			<ul>#}
        </div>
    </div>
{% endblock %}
