<div class="pagination">
    {% set additional_params = {} %}
    {% if addParams is defined %}
        {% set additional_params = additional_params|merge(addParams?:[]) %}
    {% endif %}

    {% if count is not empty
        and page is not empty
        and route is not empty %}

        {% if count > 0 %}
                <ul class="pagination__body">
                    {% for i in 1..count %}
                        {% set params = {'page' : i} %}
                        {% set params = params|merge(additional_params) %}

                        <li class="pagination__item {{  i == page ? 'active' : '' }} "><a href="{{ path(route, params) }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
        {% endif %}

    {% endif %}
</div>