{% extends 'base.html.twig' %}

{% block title %}Заказ успешно создан{% endblock %}

{% block body %}

    <div class="main basket container">
        <div class="content_title">Корзина</div>
        
        <div class="success_message">Заказ {{ number }} успешно создан</div>
    </div>

{% endblock %}
